<h1><%= @portfolio.name %></h1>

<% @projects.each do |project| %>
    <a href="/portfolios/<%= @portfolio.id %>/projects/<%= project.id %>">
        <%= image_tag project.image.url(:medium) %><br>
        <%= project.title %>
    </a>
    <br><br>
<% end %>

<%= button_to "Edit this Portfolio", edit_user_portfolio_path, method: :get %>
<br><br>
<%= button_to "Add a Project to this Portfolio", new_portfolio_project_path(@portfolio), method: :get %>