    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br><br>

    <%= f.label :github_url %>
    <%= f.text_field :github_url %><br><br>

    <%= f.file_field :image %><br><br>

    <div class="checkbox-container">
        <%= f.collection_check_boxes(:skill_ids, Skill.all.order('name'), :id, :name) do |b| %>
            <p>
                <%= b.check_box %>
                <%= b.label %>
            </p>
        <% end %>
    </div>

    <br><br>

    <!-- Edit fields_for to only create one new skill box on edit form -->
    <%= f.fields_for :skills, @project.skills.build do |skill_builder| %>
        <%= skill_builder.label :name, "Add a new skill" %>
        <%= skill_builder.text_field :name %>
    <% end %>

    <br><br>

    <%= f.submit %>