<h1><%= @project.title %></h1>
<%= image_tag @project.image.url(:medium) %>
<h3>GitHub URL:</h3>
<a href="http://www.github.com/<%=@project.github_url%>"><%= @project.github_url %></a>

<h3>Project Description:</h3>
<%= @project.description %>

<h3>Skills</h3>
<ul>
<% @project.skills.each do |skill| %>
    <li><%= skill.name %></li>
<% end %>
</ul>

<br><br>

<%= button_to "Edit this Project", edit_portfolio_project_path(@portfolio, @project), method: :get %>

<br><br>

<%= button_to "Delete this Project", { :controller => "projects", :action => "destroy", id: params[:id] }, :method => "delete", data: { :confirm => "Are you sure?" } %>